
body {
    background-color:black;
    text-align: center;
    font-family: Verdana, Geneva, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.header--main {
    font-weight: normal;
    font-size: 50px;
    color:aliceblue;

}
.link--cta {
    font-size: 16px;
    color: aquamarine;
    font-weight: normal;
}
